clone
kornia==0.6.1
imageio-ffmpeg
einops
torch-optimizer
easydict
braceexpand
git+https://github.com/pvigier/perlin-numpy
ftfy 
regex 
tqdm 
omegaconf 
pytorch-lightning
streamlit
torch
torchvision
torchtext
imageio
scipy
